PROD_SSH_HOST=141.95.154.60
PROD_SSH_PORT=22
PROD_SSH_USER=your_ssh_user
PROD_SSH_PASSWORD=your_ssh_password
PROD_REMOTE_PATH=/var/www/vhosts/recursing-blackwell.141-95-154-60.plesk.page/httpdocs
PROD_API_BASE_URL=https://recursing-blackwell.141-95-154-60.plesk.page/api

MYSQL_URL=mysql://user:password@host:3306/defaultdb?ssl-mode=REQUIRED
MYSQL_DATABASE=gymify
MYSQL_SSL_CA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
